/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.border-me {
  border: 1px solid red; }

@media (min-width: 576px) {
  .hide-from-sml {
    display: none; } }

@media (min-width: 768px) {
  .hide-from-med {
    display: none; } }

@media (min-width: 992px) {
  .hide-from-lrg {
    display: none; } }

@media (min-width: 1200px) {
  .hide-from-lrg-xl {
    display: none; } }

@media (max-width: 576px) {
  .hide-at-sml {
    display: none; } }

@media (max-width: 768px) {
  .hide-at-med {
    display: none; } }

@media (max-width: 992px) {
  .hide-at-lrg {
    display: none; } }

@media (max-width: 1200px) {
  .hide-at-lrg-xl {
    display: none; } }

.border1 {
  border: 1px dashed blue; }

.border2 {
  border: 1px dashed orange; }

.border3 {
  border: 1px dashed aqua; }

.hover {
  transform: scale(1);
  transition: .15s;
  cursor: pointer;
  position: inherit; }
  .hover:hover {
    color: orange;
    transform: scale(1.15);
    transform-origin: center; }

.vid-box {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  margin: 1rem 0; }

.vid-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

ul {
  margin-bottom: 1rem; }

li {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  list-style: none;
  list-style-position: inside; }

li::before {
  content: " - "; }

em {
  font-style: italic; }

em::before {
  content: '"'; }

em::after {
  content: '"'; }

blockquote {
  margin: 1rem 1rem;
  padding-left: 1rem;
  font-style: italic;
  color: darkslategray;
  border-left: 1px solid;
  line-height: 1.5; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

strong {
  font-weight: 600; }

.bold {
  font-weight: 500; }

.light {
  font-weight: 300; }

.underline {
  text-decoration: underline; }

.italic {
  font-style: italic; }

.highlight {
  color: yellow;
  background-color: pink; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.pink {
  color: pink; }

.red {
  color: red; }

.orange {
  color: orange; }

.green {
  color: green; }

.blue {
  color: blue; }

.red {
  color: red; }

.grey {
  color: grey; }

.tomato {
  color: tomato; }

.columns {
  column-count: 3;
  column-width: 225px; }

.columns2 {
  columns: 2; }

.columns3 {
  columns: 3; }

.columns4 {
  columns: 4; }

.columns5 {
  columns: 5; }

.column-gap1 {
  column-gap: 1rem; }

.column-gap2 {
  column-gap: 2rem; }

.column-gap3 {
  column-gap: 3rem; }

.column-rule {
  column-rule: 1px solid grey; }

.p1px {
  padding: 1px; }

.p0 {
  padding: 0; }

.p05 {
  padding: 0.5rem; }

.p1 {
  padding: 1rem; }

.p2 {
  padding: 2rem; }

.p3 {
  padding: 3rem; }

.pt05 {
  padding-top: 0.5rem; }

.pt1 {
  padding-top: 1rem; }

.pt2 {
  padding-top: 2rem; }

.pt3 {
  padding-top: 3rem; }

.pb05 {
  padding-bottom: 0.5rem; }

.pb1 {
  padding-bottom: 1rem; }

.pb2 {
  padding-bottom: 2rem; }

.pb3 {
  padding-bottom: 3rem; }

.pl05 {
  padding-left: 0.5rem; }

.pl1 {
  padding-left: 1rem; }

.pl2 {
  padding-left: 2rem; }

.pl3 {
  padding-left: 3rem; }

.pr05 {
  padding-right: 0.5rem; }

.pr1 {
  padding-right: 1rem; }

.pr2 {
  padding-right: 2rem; }

.pr3 {
  padding-right: 3rem; }

.pv05 {
  padding: 0.5rem 0; }

.pv1 {
  padding: 1rem 0; }

.pv2 {
  padding: 2rem 0; }

.pv3 {
  padding: 3rem 0; }

.ph05 {
  padding: 0 0.5rem; }

.ph1 {
  padding: 0 1rem; }

.ph2 {
  padding: 0 2rem; }

.ph3 {
  padding: 0 3rem; }

.m0 {
  margin: 0; }

.m05 {
  margin: 0.5rem; }

.m1 {
  padding: 1rem; }

.m2 {
  padding: 2rem; }

.m3 {
  padding: 3rem; }

.mt05 {
  margin-top: 0.5rem; }

.mt1 {
  margin-top: 1rem; }

.mt2 {
  margin-top: 2rem; }

.mt3 {
  margin-top: 3rem; }

.mb05 {
  margin-bottom: 0.5rem; }

.mb1 {
  margin-bottom: 1rem; }

.mb2 {
  margin-bottom: 2rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml05 {
  margin-left: 0.5rem; }

.ml1 {
  margin-left: 1rem; }

.ml2 {
  margin-left: 2rem; }

.ml3 {
  margin-left: 3rem; }

.mr05 {
  margin-right: 0.5rem; }

.mr1 {
  margin-right: 1rem; }

.mr2 {
  margin-right: 2rem; }

.mr3 {
  margin-right: 3rem; }

.mv05 {
  margin: 0.5rem 0; }

.mv1 {
  margin: 1rem 0; }

.mv2 {
  margin: 2rem 0; }

.mv3 {
  margin: 3rem 0; }

.mh05 {
  margin: 0 0.5rem; }

.mh1 {
  margin: 0 1rem; }

.mh2 {
  margin: 0 2rem; }

.mh3 {
  margin: 0 3rem; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: 100%;
  vertical-align: bottom;
  height: auto; }

.img-cont {
  max-width: 600px;
  margin: 2rem auto; }

html {
  font-size: 16px; }
  @media (min-width: 768px) {
    html {
      font-size: 20px; } }

body {
  font-family: "Raleway", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 44px;
  font-size: 2.75rem; }

h2 {
  font-size: 34px;
  font-size: 2.125rem; }

h3 {
  font-size: 26px;
  font-size: 1.625rem; }

h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5 {
  font-size: 18px;
  font-size: 1.125rem; }

p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4; }

small {
  font-size: 14px;
  font-size: 0.875rem; }

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black; }
  a:hover,
  a:link:hover,
  a:visited:hover,
  a:active:hover {
    color: orange; }

.container {
  position: relative;
  width: 95%;
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.hello {
  background-color: orange;
  color: white;
  padding: .5rem;
  margin-top: 1rem; }

.flex-row {
  display: flex; }
